@import '../../../common'

.corner
  position absolute
  width auto
  top -190px
  left -165px
  z-index -1
  +media-lt(lg)
    display none

.section
  {with-height-100}
  background url('./images/executive-search.jpeg')
  background-repeat no-repeat
  background-size cover
  color white
  overflow hidden
  padding-bottom 50px
  padding-top 50px
  position relative
  +media-lt(sm)
    padding-bottom 15px
    padding-top 15px

.nav
  align-items flex-end
  display flex
  justify-content space-around
  list-style-type none
  margin 40px 0 20px 0
  position relative
  +media-gt(md)
    height 500px
  +media-lt(sm)
    margin 0
  img
    margin 0 auto 10px auto
    width inherit

.navItem
  border-right 1px solid blue-sm
  flex 1
  height 100%
  padding 0 5px
  text-align center
  &:first-of-type
    border-left 1px solid blue-sm
  +media-lt(sm)
    display none

.navItemLink
  border-bottom 1px solid transparent
  cursor pointer
  display block
  padding 0 10px 15px 10px
  &:hover
    border-bottom 1px solid white
    text-decoration none
  &[data-active]
    border-bottom 1px solid blue
    color blue
  +media-lt(lg)
    font-size 14px
    line-height 16px

.view
  width 100%
  +media-gt(md)
    bottom 0
    position absolute
    top 150px

.viewItem
  display flex
  z-index -1
  +media-gt(md)
    left -50px
    opacity 0
    position absolute
    transform translateY(200px)
    transition opacity 400ms, transform 400ms
    transition-timing-function cubic-bezier(0.215, 0.61, 0.355, 1)
  +media-lt(sm)
    img
      display none
  &[data-active]
    opacity 1
    transform translateY(0)
    z-index 1
  h3
    color blue
    font-size 30px
    font-weight 400
    margin 60px 0 10px 0
    +media-lt(sm)
      font-size 22px
      margin 15px 0 5px 0
  p
    margin 0

.viewContent
  +media-gt(md)
    transform translateX(-40px)
