@import '../../App/mixins'

.section
  {with-height-100}
  display flex
  flex-direction column
  height 0
  justify-content center
  overflow hidden
  position relative
  +media-lt(sm)
    min-height: calc(75vh - 60px)

.container
  color white
  z-index 1
  pointer-events none

.img
  width: auto
  position: fixed
  bottom: 10px
  right: 10px
  max-width: 300px

  +media-lt(md)
    max-width: 200px

  +media-lt(sm)
    max-width: 125px

.anim
  top: 0;
  bottom: inherit;
