@import '../../App/mixins'

.section
  {with-height-100}
  display flex
  flex-direction column
  height 0
  justify-content center
  overflow hidden
  position relative

.container
  color white
  z-index 1
  pointer-events none

.img
  width: auto
  position: fixed
  bottom: 10px
  right: 10px
  max-width: 300px

  +media-lt(md)
    max-width: 250px

  +media-lt(sm)
    max-width: 200px
