@import './mixins'

*
  box-sizing border-box
  font-family Poppins, sans-serif

body
  margin 0
  overflow-y scroll
  padding nav-height 0 0 0
  +media-lt(sm)
    padding nav-height-sm 0 0 0

body > div > span
  background white
  background-image url('./images/loader.gif')
  background-position center center
  background-repeat no-repeat
  bottom 0
  left 0
  position fixed
  right 0
  top 0
  z-index 3

img
  display block
  width 100%

ul
  margin 0
  padding 0

li
  {text}

a
  {text}
  color inherit
  text-decoration none
  &:hover
    text-decoration underline

p
  {text}
  margin 25px 0 0 0

h1, h2
  font-size 52px
  font-weight 700
  line-height 52px
  margin 0 0 5px 0
  +media-lt(lg)
    font-size 36px
    line-height 36px
  +media-lt(sm)
    font-size 1.5rem
    line-height 1.5rem

h1 + p
  {subtitle}
  font-weight 600

h2 + p
  {subtitle}
