@import '../../App/mixins'

.frame
  {with-height-100}
  +media-lt(sm)
    display none

.section
  {with-height-100}
  background url('./images/our-values.jpeg')
  background-position bottom
  background-size cover
  background-repeat no-repeat
  left 0
  margin-top nav-height
  overflow hidden
  padding-top 50px
  position fixed
  width 100%
  z-index -1
  +media-lt(sm)
    background gray-sm
    height auto
    min-height inherit
    margin-top 0
    padding-bottom 15px
    padding-top 15px
    position relative
    top 0 !important
    p
      margin-bottom 15px

.content
  display flex
  margin-top 30px
  +media-lt(sm)
    margin-top 0
  ul
    flex 1
    padding 0 40px
    +media-lt(sm)
      list-style-type none
      padding 0
  li
    font-size 16px
    padding 5px 0
    +media-lt(sm)
      font-size 12px
      line-height 14px
      padding 7px 0
