@import '../../../common'

.section
  {with-height-100}
  align-items center
  background url('./images/about.jpeg') center center
  background-size cover
  display flex
  overflow hidden
  position relative

.container
  max-width 40%
  +media(md)
    max-width 60%
  +media-lt(sm)
    max-width inherit
