@import '../../../common'

.section
  background gray-sm
  padding-top 50px
  ul
    list-style-type none
    margin 25px 0
  a
    display inline-block
    font-size 20px
    font-weight bold
    line-height 23px
    margin-bottom 50px
    padding 10px 0
  p
    margin-top 50px

.container
  display flex

.content
  flex 1

.image
  flex 2
  overflow hidden
  position relative
  img
    position absolute
    +media(lg)
      top 30px
  +media-lt(md)
    display none
