@import '../../../common'

.section
  background gray-sm
  ul
    list-style-type none
    margin 25px 0
  a
    display inline-block
    font-size 20px
    font-weight bold
    line-height 23px
  p
    margin-top 30px

.container
  display flex

.content
  flex 1
  padding-bottom 50px
  padding-top 50px
  +media-lt(sm)
    padding-bottom 15px
    padding-top 15px

.image
  flex 2
  overflow hidden
  position relative
  img
    position absolute
    +media(lg)
      top 30px
  +media-lt(md)
    display none
