@import '../../App/mixins'

.section
  position relative

.container
  bottom 0
  color white
  display flex
  flex-direction column
  height 100%
  justify-content flex-end
  left 0
  padding-bottom 50px
  position absolute
  right 0
  top 0
  +media-lt(sm)
    padding-bottom 15px
