@import '../../../common'

.frame
  {with-height-100}

.section
  {with-height-100}
  background url('./images/our-values.jpeg')
  background-position center 0px
  background-size cover
  background-repeat no-repeat
  left 0
  overflow hidden
  padding-top 50px
  position fixed
  top nav-height
  width 100%
  z-index -1
  +media-lt(sm)
    padding-top 15px
    p
      margin-bottom 15px

.content
  display flex
  margin-top 50px
  +media-lt(sm)
    margin-top 0
  ul
    flex 1
    padding 0 40px
    +media-lt(sm)
      list-style-type none
      padding 0
  li
    padding 15px
    +media-lt(sm)
      font-size 14px
      line-height 14px
      padding 7px 0
