@import 'stylus-media-breakpoint'
@import './variables'

*
  box-sizing border-box
  font-family 'Poppins', sans-serif

body
  margin 0
  padding nav-height 0 0 0
  +media-lt(sm)
    padding nav-height-sm 0 0 0

img
  display block
  width 100%

ul
  margin 0
  padding 0

main > section[id], footer
  opacity 0
  position relative
  transition opacity 400ms, transform 400ms
  transition-timing-function cubic-bezier(0.215, 0.61, 0.355, 1)
  transform translateY(100px)

  &[data-visible]
    opacity 1
    transform translateY(0)

h1
  font-family Poppins, sans-serif
  font-size 52px
  font-weight 700
  line-height 52px
  margin 0
  +media-lt(sm)
    font-size 42px
    line-height 42px

h1 + p
  font-size 22px
  line-height 25px
  font-weight 600
  margin 0 0 30px 0
  +media-lt(sm)
    font-size 18px
    line-height 23px
