@import '../App/mixins'

.container
  background white
  height nav-height
  left 0
  position fixed
  right 0
  top 0
  z-index 2
  +media-lt(sm)
    height nav-height-sm

.nav
  align-items center
  background white
  display flex
  height nav-height
  justify-content center
  +media-lt(sm)
    height nav-height-sm

.link
  color black-s
  padding 10px 25px
  text-decoration none
  &:hover
    text-decoration underline
  &:first-of-type
    flex 1
    padding-left 0
    +media-gt(md)
      display block
    +media-lt(sm)
      display none
  &:nth-of-type(2)
    flex 1
    padding-left 0
    +media-gt(md)
      display none
    +media-lt(sm)
      display block
  &:last-of-type
    padding-right 0
  +media-lt(sm)
    font-size 12px
    padding 0 10px

.logo
  height 40px
  width auto
  +media-lt(md)
    height 30px
