@import '../../App/mixins'

.corner
  position absolute
  width auto
  top -190px
  left -165px
  z-index -1
  +media-lt(lg)
    display none

.section
  {with-height-100}
  background url('./images/background.jpeg')
  background-repeat no-repeat
  background-size cover
  color white
  overflow hidden
  padding-bottom 50px
  padding-top 50px
  position relative
  +media-lt(sm)
    padding-bottom 15px
    padding-top 15px

.content
  display flex
  text-align justify
  +media-lt(sm)
    flex-direction column

.side
  flex 1
  ul
    padding-left 25px
  li
    margin 30px 0
  h3
    font-size 30px
    margin 15px 0
    +media-lt(lg)
      font-size 22px
    img
      height 46px
      margin 15px auto
      width auto
      +media-lt(lg)
        height 30px
        
      
.leftSide
  @extend .side
  +media-gt(sm)
    padding-right 50px

.rightSide
  @extend .side
  +media-gt(md)
    padding-left 50px

ul.countries
  list-style-type none
  margin-top 50px
  padding 0

  li
    display flex
    margin 15px 0
  img
    margin-right 35px
    width auto
  a
    align-items center
    display flex
