doctype html
html(lang='en')
  head
    title Sigma Search

    meta(charset='utf-8')
    meta(name='description' content='Sigma Search Partners was established in 1996 in response to demand from client organisations who want to work with independent boutique search firms across international markets.')
    meta(name='robots' content='index, follow')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    link(rel='icon' type='image/ico' href='../favicon.ico')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:400,600,700')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css' integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==' crossorigin='')

  body
    #app
      span
    script(async defer src='https://code.createjs.com/createjs-2015.11.26.min.js')
    script(src='./app/index.tsx')
    noscript
      | Your browser doesn't support JavaScript or it has been disabled.
      | Please enable JavaScript, or try with a more recent browser.
