doctype(html)
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='robots' content='index, follow')
    title Sigma Search

    link(rel='icon' type='image/ico' href='../favicon.ico')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:400,600,700')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css' integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==' crossorigin='')

  body
    #app
      span
    script(src='https://code.createjs.com/createjs-2015.11.26.min.js')
    script(src='./app/index.tsx')
