@import '../../App/mixins'

.section
  {with-height-100}
  background black-md
  flex-direction column
  height 0
  overflow hidden
  justify-content center
  padding-bottom 50px
  padding-top 50px
  position relative
  z-index 1

  @media (max-width 767.98px) and (orientation portrait), (max-width 991.98px) and (orientation landscape)
    min-height unset
    height 100%
    padding-bottom 15px
    padding-top 15px

.container
  align-items center
  color white
  display flex
  pointer-events none
  z-index 1
  background: radial-gradient(circle, rgba(37,42,45,.5) 25%, rgba(37,42,45,0) 100%);

.content
  width 70%
  +media-lt(lg)
    width 80%
  +media-lt(sm)
    width 100%
  ul
    margin 75px 0 0 40px
    +media-lt(md)
      margin-top 0
    +media-lt(sm)
      list-style-type none
      margin-left 0
  li
    padding 20px 0
    +media-lt(sm)
      padding 0
      margin-top 15px

.img
  width: auto
  position: absolute
  bottom: 10px
  right: 10px
  cursor: pointer;
  max-width: 300px

  +media-lt(md)
    max-width: 200px

  @media (max-width 767.98px) and (orientation portrait), (max-width 991.98px) and (orientation landscape)
    display none

.anim
  top: 0;
  bottom: inherit;

  @media (max-width 767.98px) and (orientation portrait), (max-width 991.98px) and (orientation landscape)
    display none
