@import '../../App/mixins'

.section
  {with-height-100}
  background black-md
  overflow hidden
  padding-bottom 50px
  padding-top 50px
  position relative
  z-index -1
  +media-lt(sm)
    min-height inherit
    padding-bottom 15px
    padding-top 15px

.container
  align-items center
  color white
  display flex
  z-index 1

.content
  width 70%
  +media-lt(lg)
    width 80%
  +media-lt(sm)
    width 100%
  ul
    margin 75px 0 0 40px
    +media-lt(md)
      margin-top 0
    +media-lt(sm)
      list-style-type none
      margin-left 0
  li
    padding 20px 0
    +media-lt(sm)
      padding 0
      margin-top 15px
